<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="container">

            <div class="cover">
              <h1>Achal's Lund Project</h1>
              <form  class="flex-form" method="post">
                <input type="search" name="videoURL" placeholder="Youtube URL">
                <input type="submit" value="Get Transcript">
              </form>
            </div>
          </div>
    </body>
</html>
